<div style="font-size: 18px;font-weight: 500;font-family:'Roboto',arial,sans-serif;color:royalblue">
  Edit Labels
</div>
<mat-form-field floatLabel="never" style="outline:none"> 
  <input type="text" placeholder="Create new label " matInput [(ngModel)]="label.name" />
 
  <button mat-button *ngIf="label" mat-icon-button matPrefix (click)="label=' ' ">
    <mat-icon>close</mat-icon>
  </button>
 
  <button mat-button mat-icon-button matSuffix (click)="done()">
    <mat-icon>done</mat-icon>
  </button>
</mat-form-field>

<div *ngIf="alllabels">
<div *ngFor="let labelObj of alllabels">
  <div fxLayout="row" fxLayoutGap="10px" >
    <div fxFlex="90" fxLayoutAlign="start center" class="editlabel">
      <mat-icon class="label-icon edit2">label</mat-icon>
      <mat-icon class="label-icon edit" (click)="deleteLabel(labelObj)">delete</mat-icon>
      <input type="text" name="name" class="label-input" value="{{labelObj.name}}" />
    </div>
    <div fxFlex="10">
      <mat-icon class="label-icon">edit</mat-icon>
    </div>
  </div>
</div>
</div>