<body>
  <mat-toolbar class="toolbar">
    <!-- <section>
      <div class=”media”>
          <img src="/assets/icons/bridgeicon.jpg">
      </div>
    </section> -->

        <img src="/assets/icons/bridgeicon.jpg" class="img">
  </mat-toolbar>

  <div class="container" fxLayoutAlign="center center">
    <mat-card fxFlex.lt-sm="90" fxFlex.sm="80" fxFlex="45" style="margin-top: 35px;box-shadow: 0 2px 20px rgba(0,0,0,.19), 0 4px 6px rgba(0,0,0,.23);">
      <div fxFlexOffset="10" fxflex="30">

        <h3>
          <strong style="font-size: 20px;">Reset Password</strong>
        </h3>

        <form #resetpassForm="ngForm" (ngSubmit)="reset()">

          <div fxLayout="column" fxLayoutGap="1%">

            <div>
              <label class="txt">Enter your new password here</label>
              <mat-form-field fxFlex fxFlex.gt-xs="420px">
                <input fxFlexOffset="15px" style="margin-top: -12px;" matInput type="text" name="password" [(ngModel)]="model.newPassword"
                  maxlength="8" [formControl]="password" required>
                <mat-error *ngIf="password.invalid">{{getErrorMessage1()}}</mat-error>
              </mat-form-field>
            </div>

            <div>
              <label class="txt">Confirm your password</label>
              <mat-form-field fxFlex fxFlex.gt-xs="420px">
                <input fxFlexOffset="15px" style="margin-top: -12px;" matInput type="password" name="password" [(ngModel)]="model.newPassword"
                  maxlength="8" [formControl]="password" required>
                <mat-error *ngIf="password.invalid">{{getErrorMessage1()}}</mat-error>
              </mat-form-field>
            </div>

          </div>

          <div>
            <button mat-raised-button color="primary" type="submit" fxFlex.lt-sm="90" fxFlex.sm="80" fxFlex fxFlex.gt-xs="420px" style="margin-bottom: 23px;">Reset password</button>
          </div>
        </form>
      </div>

    </mat-card>
  </div>
</body>