<div fxLayout="column" fxFlexOffset="50px">
  <div style=" margin-top: 39px;">
    <strong style="font-size: 20px;">Forgot Password</strong>
  </div>

  <!-- <div fxLayoutGap="20%"> -->
    <div style=" margin-top: 24px;">
      <label class="txt">Enter your email address we will send you a link to reset your password.</label>
      <mat-form-field fxFlex.lt-sm="90" fxFlex.sm="80" fxFlex fxFlex.gt-xs="380px">
        <input fxFlexOffset="20px" style="margin-top: -12px;" matInput type="email" name="email" [(ngModel)]="model.email" [formControl]="email"
          required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div style=" margin-top: 24px;">
        <button mat-raised-button color="primary" type="submit" fxFlex.lt-sm="90" fxFlex.sm="80" fxFlex fxFlex.gt-xs="380px" (click)="forgot()">SUBMIT</button>
    </div>

</div>