<mat-toolbar class="toptoolbar">
  <div fxLayout="row" fxFlex.lg="15" fxFlex.md="20" fxFlex.sm="30" fxFlex.lt-sm="30" fxFlex.lt-xs="15" fxFlex.xs="55" fxLayoutGap="10px"
    fxLayoutGap.xs="2px">
    <button mat-icon-button mat-button (click)="sidenav.toggle()">
      <mat-icon class="toolitems">menu</mat-icon>
    </button>
    <div class="toolitems logo">
      <span fxShow="true" fxHide.lt-sm="true">{{title}}</span>
      <span fxHide="true" fxShow.lt-sm="true">{{titlesmall}}</span>
    </div>
  </div>

  <div fxFlex.lg="80" fxFlex.md="80" fxFlex.lt-sm="60" fxFlex.sm="70" fxFlex.lt-xs="30" fxFlex.xs="20" fxFlex.st-xs="10" fxLayoutGap="10px;"
    fxLayout="row" class="search-div" fxShow="true" fxHide.lt-sm="true" [ngClass]=" searchcolor ?  'searchbar' : 'search-div' ">

    <button mat-icon-button mat-button>
      <mat-icon class="search">search</mat-icon>
    </button>

    <div contenteditable="true" placeholder="Search" class="search" (click)="searchtext()" (blur)="searchtext()" style="width:100%"
      matSuffix></div>
    <mat-icon class="close-btn" fxFlex="10">close</mat-icon>


  </div>
  <div fxHide="true" fxShow.lt-sm="true" fxFlex.lg="60" fxFlex.md="70" fxFlex.sm="65" fxFlex.lt-sm="60" fxFlex.xs="8" fxFlex.st-xs="10"
    fxLayoutGap="10px;" fxLayout="row" (click)="viewsearch()">
    <button mat-icon-button mat-button>
      <mat-icon class="search-icon toolitems">search</mat-icon>
    </button>
  </div>


  <div fxLayout="row" fxFlex.lg="20" fxFlex.md="25" fxFlex.sm="35" fxFlex.lt-sm="40" fxFlex.xs="25" fxLayoutGap="10px" fxLayoutGap.xs="0px"
    fxFlex.st.xs="35">
    <button mat-icon-button mat-button>
      <mat-icon class="toolitems">refresh</mat-icon>
    </button>

    <button mat-icon-button mat-button *ngIf="list" (click)="changeView()" fxShow="true" fxHide.lt-sm="true">
      <mat-icon class="toolitems">view_list</mat-icon>
    </button>

    <button mat-icon-button mat-button *ngIf="grid" (click)="changeView()" fxShow="true" fxHide.lt-sm="true">
      <mat-icon class="toolitems">apps</mat-icon>
    </button>

    <button mat-icon-button mat-button>
      <mat-icon class="toolitems">notifications_none</mat-icon>
    </button>



    <button mat-mini-fab [matMenuTriggerFor]="appMenu" style="background-color: #3f51b5;margin-left: 45px;">
      <img class="profile-style" src="{{logedUser.picUrl}}">
    </button>
    <mat-menu #appMenu="matMenu">
      <div fxLayout="row">
        <button mat-icon-button matTooltip="Profile" class="icon-button" (click)="triggerImageUpload()">
            <img class="profile-style" src="{{logedUser.picUrl}}">
          <input style="display: none;" type="file" [ngModel]="model.image" id="image-upload-button" (change)="profileImageUpload($event)">
        </button>
        <div fxLayout="column">
        <span>{{logedUser.name}}</span>
        <span>{{logedUser.email}}</span>
      </div>
      </div>
      <button mat-raised-button>Add account</button>
      <button mat-raised-button (click)="logout()">Sign out</button>
    </mat-menu>
  </div>
</mat-toolbar>

<mat-sidenav-container fxFlexFill class="example-container">
  <mat-sidenav #sidenav opened fxLayout="column" [mode]="screenWidth > 840 ? 'side':'over' " class="sidenav">

    <!-- <div fxLayout="row" fxLayoutGap="10px" class="sidebar-menu" routerLink="/home/createnotes" routerLinkActive="active" >
      <mat-icon style="color:rgb(99, 111, 145)">lightbulb_outline</mat-icon>
      <span class="sidebar-labels">Note</span>
    </div> -->

    <div>
      <button mat-menu-item routerLink="/home/" routerLinkActive="active">
        <mat-icon style="color: blue;">lightbulb_outline</mat-icon>
        <span style="color: blue;">Note</span>
      </button>
    </div>


    <!-- <div fxLayout="row" fxLayoutGap="10px" class="sidebar-menu" routerLink="/home/trash" routerLinkActive="active" >
      <mat-icon style="color:royalblue">delete</mat-icon>
      <span class="sidebar-labels">Trash</span>
    </div> -->

    <div>
      <button mat-menu-item routerLink="/home/trash" routerLinkActive="active">
        <mat-icon style="color: blue;">delete</mat-icon>
        <span style="color: blue;">Trash</span>
      </button>
    </div>

    <!-- 
    <div fxLayout="row" fxLayoutGap="10px" class="sidebar-menu" routerLink="/home/archive" routerLinkActive="active">
      <mat-icon style="color:royalblue">assignment_returned</mat-icon>
      <span class="sidebar-labels">Archive</span>
    </div> -->

    <div>
      <button mat-menu-item routerLink="/home/archive" routerLinkActive="active">
        <mat-icon style="color: blue;">assignment_returned</mat-icon>
        <span style="color: blue;">Archive</span>
      </button>
    </div>

    <!-- <div fxLayout="row" fxLayoutGap="10px" class="sidebar-menu" routerLink="/home/reminder" routerLinkActive="active">
      <mat-icon style="color:royalblue">touch_app</mat-icon>
      <span class="sidebar-labels">Reminder</span>
    </div> -->

    <div>
      <button mat-menu-item routerLink="/home/reminder" routerLinkActive="active">
        <mat-icon style="color: blue;">touch_app</mat-icon>
        <span style="color: blue;">Reminder</span>
      </button>
    </div>

    <div fxLayout="row">
      <button mat-menu-item>
        <span style="color: blue;">Labels</span>
      </button>

      <button mat-menu-item (click)="addLabel()">
        <span style="color: blue;">Edit</span>
      </button>
    </div>
    <!-- 
    <div fxLayout="row" fxLayoutGap="10px" class="sidebar-menu">
      <span class="edit-labels">Labels</span>
      <span class="edit-alllabels" (click)="addLabel()">EDIT</span>
    </div> -->

    <div *ngFor="let labelObj of labels;">
      <div fxLayout="row" fxLayoutGap="10px" class="sidebar-menu" [routerLink]="['/home/label', labelObj.name]">
        <mat-icon style="color:royalblue">label</mat-icon>
        <span class="sidebar-labels">{{labelObj.name}}</span>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="10px" class="sidebar-menu" (click)="addLabel()">
      <mat-icon style="color:royalblue">add</mat-icon>
      <span class="sidebar-labels">Create new label</span>
    </div>

    <div>
      <div class="sidenavitem">
        <a href="https://support.google.com/keep/#topic=6262468">
          <mat-icon style="margin-left: 16px;">help_outline</mat-icon>
          Help
        </a>
      </div>
    </div>

  </mat-sidenav>
  <mat-sidenav-content style="margin-top:4%;">
    <router-outlet></router-outlet>
  </mat-sidenav-content>



</mat-sidenav-container>