<!--<p>
  notetemplate works!
</p>-->

<div style="margin-top:20px;margin-left:10px;margin-right:10px" [ngClass]=" layout=='column wrap' ? 'list-note' : 'note-width' " >
  <mat-card  [ngStyle]="{'background-color':note.colorcode}"  fxFlex.xs="100" [ngClass]=" layout=='column wrap' ? 'list-note' : 'note-width' ">
    <div fxLayout="row">
      <div fxFlex.lg="90" fxFlex.md="90" fxFlex.sm="90" fxFlex.xs="90">
        <div contenteditable="true" name="title" data-text="Title" class="note-text " id="title">{{note.title}}</div>
      </div>
      <div fxFlex="10" (click)="pinNote(note)">
        <img src={{pin}} />
      </div>
    </div>
    <div contenteditable="true" name="description" data-text="Description" class="note-text " id="description">{{note.description}}</div>

      <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-around center">
        <button mat-icon-button class="icon-button"><mat-icon>touch_app</mat-icon></button>
        <button mat-icon-button class="icon-button"><mat-icon>person_add</mat-icon></button>
        <button mat-icon-button class="color-comp icon-button" style="background-color:inherit" [matMenuTriggerFor]="colormenu">
          <mat-icon>color_lens</mat-icon>


        </button>

        <mat-menu #colormenu="matMenu">
          <div mat-menu-item *ngFor="let color of colors" fxLayout="row" fxLayoutGap="2px">
            <div *ngFor="let color1 of color">
              <div [style.background-color]="color1" [ngClass]="color1 == selectedcolor ?  'active' :  (color1 == 'white'  ?  'white-border color-pallete' :  'color-pallete')" (click)="setColor(color1,note.id)">
              </div>
            </div>

          </div>

        </mat-menu>

        <button mat-icon-button class="icon-button"><mat-icon>image</mat-icon></button>
        <button mat-icon-button class="icon-button" (click)="archive(note)"><mat-icon>archive</mat-icon></button>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="icon-button"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openDialog()">Add Label</button>
          <button mat-menu-item>Copy Note</button>
          <button mat-menu-item (click)="trash(note)">Delete Note</button>
        </mat-menu>

      </div>

  </mat-card>
</div>
