[data-text]:empty:before {
    content: attr(data-text);
  }
  .note-text {
    outline: none;
    border: none;
    padding: 10px;
  }
  
  #title {
    font-weight: bold;
  }
  
  .active {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: url("../../../assets/icons/tick.svg");
    border-color: gray;
    border-width: thin;
    border-style: solid;
  }
  
  .color-pallete {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border-color: white;
    border-width: thin;
    border-style: solid;
  }
  
  .icon-button {
    width:30px;
    height:30px;
  }
  
  .white-border {
    border-color: gray;
    border-width: thin;
    border-style: solid;
  }
  
  .note-width {
    width: 240px;
  }
  
  .div-style{
    margin-left: 10px;
    margin-right: -15px;
    margin-top: -7px;
  }
  
   .done-btn-style {
    width: 83px;
    margin-left: 127px;
   }
  
  @media screen and (max-width:599px) and (min-width:320px) {
    .note-width {
     width:90vw;
    }
  
  }
  
  .list-note {
    width:450px;
    margin-left:30vh;
  }
  
  @media screen and (max-width:900px) and (min-width:320px) {
    .list-note {
      width: 90vw;
      margin-left:0vh;
  
    }
  }
  
  .labelCross{
    display: none;
  }
  
  .labelChip :hover .labelCross{
    display: inline;
  }
  
  .note-div :hover .add-ons{
    visibility: visible;
  }
  
  .add-ons {
    visibility: hidden;
    opacity: .54;
    padding-bottom: 10px;
  }
  
  .pin {
    cursor: pointer;
  }
  
  .note-div {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
  }
  
  .note-div:hover {
    box-shadow: 3px 3px 0 0 rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .note-div :hover .add-ons{
    visibility: visible;
  }
